.subscribe_form {
	/* border: 1px solid #c6c7cc;
	border-radius: 5px; */

	overflow: hidden;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	
	
}

.ss-q-short {
	display: block;
	line-height: 1.42857143;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	color: #222;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	font-size: 18px;
	margin-top:15px;
	margin-bottom:15px;
	padding: 5px;
}